.index-main {

    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;

}

.plc-header {

    background: var(--dark-2);
    display: flex;
    flex-direction: row;
    flex-basis: 30%;

    color: white;

}

.plc-header-left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 1em;
}

.plc-header-left > span:nth-child(1) {

    font-size: 1em;

}

.plc-header-left > span:nth-child(2) {

    font-size: 2em;

}

.plc-header-right {

    display: flex;
    flex-direction: column;
    padding: 1em;

}
