@page "/"

<div class="index-main">

    <div class="plc-header">

        <div class="plc-header-left">

            <span>Plc Overview</span>
            <span>FPX-H C30T</span>

            <div class="ip-add">
                <span>192.168.0.1</span>
            </div>

        </div>

        <div class="plc-header-right">

            <span>Plc Overview</span>
            <span>Text</span>

        </div>

    </div>

    <div class="plc-content">

    </div>

</div>