.page {

    background: var(--dark-3);
    position: relative;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

}

.hor-layout {

    display: flex;
    flex-direction: row;
    flex: 1;

}

main {

    flex: 1;
    display: flex;

}

main article {

    flex: 1;

}

.sidebar {

    background: var(--dark-1);
    flex-basis: 25%;

}