.plc-stat-bar {
    color: white;
    background: var(--vibrant-dark);
    display: flex;
    flex-direction: row;
    flex-basis: 1.5em;
    align-items: center;
    padding-left: .5em;
    font-size: 1rem;
}
